<div class="flex flex-col bg-gray-100 p-3 rounded-xl shadow-xl border border-gray-200 w-full">

  <!-- ==================================================================== -->
  <!-- VUE SOMMAIRE (isEditing() est FAUX) : Image avec boîtes + Résumé + Bouton Modifier -->
  <!-- ==================================================================== -->
  <div *ngIf="!isEditing()" class="space-y-3">

    <!-- Conteneur d'image/canvas pour la détection visuelle -->
    <div class="relative max-w-full mx-auto">
      <img #cardImage
           [src]="cardUrl()"
           alt=""
           class="max-h-full w-auto shadow-lg border-2 border-indigo-300 rounded-lg object-contain block mx-auto"
           crossOrigin="anonymous"
      >
    </div>

    <!-- Résumé des détections (max 5 éléments) -->
     carte detectées
    <div [class]="`text-xs w-full p-2 rounded-lg shadow-inner ${cardBgClass()}`">
      <!-- Valeur -->
      <div class="flex items-center justify-between p-2">
        <span class="font-semibold">Valeur:</span>
        <span class="font-bold">
          {{ formatLabel(cardForm().get('value')?.value) }}
        </span>
      </div>

      <!-- Multiplicateur -->
      @if (cardForm().get('multiplier')?.value) {
      <div class="flex items-center justify-between p-2">
        <span class="font-semibold">Multiplicateur:</span>
        <span class="font-medium">
          @let multiplicator = formatLabel(cardForm().get('multiplier')?.value);
          <img width="20" [src]="'/images/'+ multiplicator + '.png'" [alt]="multiplicator" [title]="multiplicator">
        </span>
      </div>
      }

      <!-- Options (Chimère, Gemme, Indice, Nuit, Chardon) -->
      <div class="flex items-center justify-between p-2">
        <span class="font-semibold block mb-2">Options:</span>
        <div class="flex flex-wrap gap-2">
          @for (option of ['chimera', 'gem', 'hint', 'night', 'thistle']; track option) {
            @if (optionsGroup.get(option)?.value) {
              <span class="flex items-center">
                <img width="20" [src]="'/images/'+ formatLabel(option) + '.png'" [alt]="formatLabel(option)" [title]="formatLabel(option)">
              </span>
            }
          }
        </div>
      </div>

      <!-- Conditions -->
      @if (conditionsArray.length > 0) {
      <div class="flex items-center justify-between p-2">
        <span class="font-semibold block mb-2">Conditions:</span>
        <div class="flex flex-wrap gap-2">
          @for (condition of conditionsArray.getRawValue(); track condition) {
            <span class="flex items-center">
              <img width="20" [src]="'/images/'+ formatLabel(condition) + '.png'" [alt]="formatLabel(condition)" [title]="formatLabel(condition)">
            </span>
          }
        </div>
      </div>
      }
    </div>

    <!-- Bouton pour basculer vers le formulaire -->
    <button (click)="toggleEdit()"
            class="w-full py-2 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 transition duration-150 flex items-center justify-center space-x-2">
      Modifier
    </button>
  </div>

  <div *ngIf="isEditing()" [formGroup]="cardForm()" class="w-full space-y-3">
    <img [src]="cardUrl()"
         alt="Carte découpée"
         class="shadow-lg border-2 border-indigo-300 rounded-lg object-contain block mx-auto"
         style="max-height: 150px;"
    >

    <div class="w-full text-xs space-y-2">

      <div>
        <label class="block font-medium text-gray-700">Couleur</label>
        <select formControlName="color" class="w-full p-1 border rounded">
          <option value="">-- Aucune --</option>
          <option *ngFor="let color of colorOptions" [value]="color">{{ color }}</option>
        </select>
      </div>

      <div formGroupName="options" class="p-2 border rounded bg-white shadow-inner">
        <label class="block font-medium text-gray-700 mb-1">Options</label>
        <div class="grid grid-cols-2 gap-2 text-gray-600">
          <div>
            <input type="checkbox" formControlName="chimera" id="chimera-{{cardIndex()}}">
            <label for="chimera-{{cardIndex()}}" class="ml-1">Chimère</label>
          </div>
          <div>
            <input type="checkbox" formControlName="gem" id="gem-{{cardIndex()}}">
            <label for="gem-{{cardIndex()}}" class="ml-1">Gemme</label>
          </div>
          <div>
            <input type="checkbox" formControlName="hint" id="hint-{{cardIndex()}}">
            <label for="hint-{{cardIndex()}}" class="ml-1">Indice</label>
          </div>
          <div>
            <input type="checkbox" formControlName="night" id="night-{{cardIndex()}}">
            <label for="night-{{cardIndex()}}" class="ml-1">Nuit</label>
          </div>
          <div>
            <input type="checkbox" formControlName="thistle" id="thistle-{{cardIndex()}}">
            <label for="thistle-{{cardIndex()}}" class="ml-1">Chardon</label>
          </div>
        </div>
      </div>

      <div formArrayName="conditions" class="p-2 border rounded bg-white shadow-inner space-y-1">
        <label class="block font-medium text-gray-700 mb-1">Conditions</label>

        <div *ngFor="let control of conditionsArray.controls; let i = index" class="flex items-center space-x-1">
          <select [formControl]="control" class="w-full p-1 border rounded text-xs">
            <option value="">-- Sélectionner --</option>
            <option *ngFor="let cond of conditionOptions" [value]="cond">{{ cond }}</option>
          </select>
          <button type="button" (click)="removeCondition(i)" class="text-red-500 hover:text-red-700 text-lg leading-none p-1">
            &times;
          </button>
        </div>

        <button type="button" (click)="addCondition()"
                class="mt-1 w-full py-1 text-xs bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition duration-100">
          + Ajouter une Condition
        </button>
      </div>

      <div>
        <label class="block font-medium text-gray-700">Multiplicateur</label>
        <select formControlName="multiplier" class="w-full p-1 border rounded">
          <option value="">-- Aucun --</option>
          <option *ngFor="let mult of multiplierOptions" [value]="mult">{{ mult }}</option>
        </select>
      </div>

      <div>
        <label class="block font-medium text-gray-700">Valeur</label>
        <select formControlName="value" class="w-full p-1 border rounded">
          <option value="">-- Aucune --</option>
          <option *ngFor="let val of valueOptions" [value]="val">{{ val }}</option>
        </select>
      </div>
    </div>
    <button (click)="toggleEdit()"
    class="w-full py-2 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 transition duration-150 flex items-center justify-center space-x-2">
      Retour au Résumé
    </button>
  </div>

</div>
